<div class="container">
  <h1>Bienvenue</h1>
  <div class="card">
    <h2>Afficher la liste des voitures</h2>
    <p>Ici, vous pouvez consulter la liste des voitures disponibles à la location.</p>
    <button (click)="consulterVoitures()">Consulter</button>
  </div>

  <div class="card">
    <h2>Ajouter des voitures</h2>
    <p>Ici, vous pouvez ajouter de nouvelles voitures à la liste.</p>
    <button (click)="ajouterVoiture()">Ajouter</button>
  </div>

  <div class="card">
    <h2>Supprimer des voitures</h2>
    <p>Ici, vous pouvez supprimer des voitures de la liste.</p>
    <button (click)="supprimerVoiture()">Supprimer</button>
  </div>

  <div class="card">
    <h2>Confirmer une réservation</h2>
    <p>Réservez une voiture parmi celles disponibles pour votre prochain déplacement.</p>
    <button (click)="confirmerReservation()">Confirmer</button>
  </div>

  <div class="card">
    <h2>Rejeter une réservation</h2>
    <p>Annulez une réservation précédemment effectuée.</p>
    <button (click)="rejeterReservation()">Rejeter</button>
  </div>
</div>
