<div class="container">
  <h1>Bienvenue</h1>
  <div class="card">
    <h2>Consulter les Voitures</h2>
    <p>Ici, vous pouvez consulter la liste des voitures disponibles à la location.</p>
    <button (click)="consulterVoitures()">Consulter</button>
  </div>
  <div class="card">
    <h2>Réserver une Voiture</h2>
    <p>Réservez une voiture parmi celles disponibles pour votre prochain déplacement.</p>
    <button (click)="reserverVoiture()">Réserver</button>
  </div>
  <div class="card">
    <h2>Payer</h2>
    <p>Procédez au paiement pour confirmer votre réservation.</p>
    <button (click)="payer()">Payer</button>
  </div>
</div>
